<div id="<%= dom_id detail %>">
  <h3>Details for <%= detail.person.name %>:</h3>
  <li><%= detail.title %></li>
  <li><%= detail.age %></li>
  <li><%= detail.phone %></li>
  <li><%= detail.email %></li>
  <hr>
</div>
